@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 222, 179);
  font-family: "Poppins", sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 8rem;
  font-weight: 900;
}

h2 {
  font-size: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 600;
}

span {
  font-size: 1.5rem;
  font-weight: 500;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  background-color: royalblue;
  color: #f0ffff;
  font-size: 1rem;
  font-weight: 600;
}

.video {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.info {
  position: absolute;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  background: rgba(253, 233, 190, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.info * {
  margin-bottom: 1rem;
}

.info p {
  font-size: 1.2rem;
  max-width: 700px;
}
