body {
  margin: 0;
}

.div1,
.div2 {
  height: 100vh;
}

.timeline {
  width: 100px;
  aspect-ratio: 1;
  background: cyan;
}

.div2 {
  // background-color: salmon;
  .square {
    width: 100px;
    aspect-ratio: 1;
    background: royalblue;
  }
  .othersquare {
    width: 100px;
    aspect-ratio: 1;
    // background: fuchsia;
  }
}

.red {
  background-color: red;
}
